<%layout("/layouts/boilerplate")-%>
<div class="row">
    <div class="col-8 offset-2">
    <h3>Create a new listing:</h3>
    <form action="/listings" 
        method="POST"  
        class="needs-validation" 
        novalidate 
        enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text"
             name="listing[title]" 
             placeholder="Add a catchy title" 
             class="form-control" 
             required
            >
            <div class="invalid-feedback">Enter a title</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea 
            name="listing[description]"
            class="form-control" 
            required
            ></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Choose a category:</label>
            <select name="listing[category]" id="category" class="form-select">
                <option value="Rooms">Rooms</option>
                <option value="Iconic cities">Iconic cities</option>
                <option value="Mountains">Mountains</option>
                <option value="Arctic">Arctic</option>
                <option value="Amazing pools">Amazing pools</option>
                <option value="Farms">Farms</option>
                <option value="Beach">Beach</option>
                <option value="Apartments">Apartments</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing image</label>
            <input type="file" 
            name="listing[image]" 
            class="form-control"
            >
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number"
            name="listing[price]" 
            placeholder="2000" 
            class="form-control"
            required
            >
            <div class="invalid-feedback">Price should be valid</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label> 
            <input type="text" 
            name="listing[country]" 
            placeholder="India" 
            class="form-control" 
            required
            >
            <div class="invalid-feedback">Country name should be valid</div>
        </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" 
            name="listing[location]" 
            placeholder="Mumbai, Maharashtra" 
            class="form-control" 
            required
            >
            <div class="invalid-feedback">Location should be valid</div>
        </div>
        <button class="btn btn-dark mb-3 btn-red">Add</button>  
    </form>
    </div>
</div>

